@font-face {
  font-family: "iconfont"; /* Project id 4053705 */
  src: url('iconfont.woff2?t=1685632475441') format('woff2'),
       url('iconfont.woff?t=1685632475441') format('woff'),
       url('iconfont.ttf?t=1685632475441') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e60a";
}

.icon-bianji:before {
  content: "\e68f";
}

.icon-fanhui:before {
  content: "\e77e";
}

.icon-guanbi1:before {
  content: "\e639";
}

.icon-shanchu:before {
  content: "\e64c";
}

.icon-tianjia:before {
  content: "\e60c";
}

.icon-fangda:before {
  content: "\e60d";
}

.icon-guanbi:before {
  content: "\e647";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-dengluzhanghao:before {
  content: "\e67e";
}

.icon-zhuce1:before {
  content: "\e6d6";
}

