
.dz {
    background-image: url("@/assets/imgs/jw3/icon-dz.png");
  }
  .btyz {
    background-image: url("@/assets/imgs/jw3/icon-btyz.png");
  }
  .ytz {
    background-image: url("@/assets/imgs/jw3/icon-ytz.png");
  }
  .lxg {
    background-image: url("@/assets/imgs/jw3/icon-lxg.png");
  }
  .pl {
    background-image: url("@/assets/imgs/jw3/icon-pl.png");
  }
  .bd {
    background-image: url("@/assets/imgs/jw3/icon-bd.png");
  }
  .cy {
    background-image: url("@/assets/imgs/jw3/icon-cy.png");
  }
  .cg {
    background-image: url("@/assets/imgs/jw3/icon-cg.png");
  }
  .mj {
    background-image: url("@/assets/imgs/jw3/icon-mj.png");
  }
  .gb {
    background-image: url("@/assets/imgs/jw3/icon-gb.png");
  }
  .wd {
    background-image: url("@/assets/imgs/jw3/icon-wd.png");
  }
  .tm {
    background-image: url("@/assets/imgs/jw3/icon-tm.png");
  }
  .cj {
    background-image: url("@/assets/imgs/jw3/icon-cj.png");
  }
  .tc {
    background-image: url("@/assets/imgs/jw3/icon-tc.png");
  }
  .sl {
    background-image: url("@/assets/imgs/jw3/icon-sl.png");
  }
  .chunyang {
    background-image: url("@/assets/imgs/jw3/icon-chunyang.png");
  }
  .wh {
    background-image: url("@/assets/imgs/jw3/icon-wh.png");
  }
  .qx {
    background-image: url("@/assets/imgs/jw3/icon-qx.png");
  }